/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#titleLabel{
	-fx-padding: 0 0 75 0;
	-fx-font-size: 100px;
}
#username-TextField{
	-fx-padding: 5px;
}
#loginBox{
	-fx-background-color: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	-fx-background-radius: 10px;
}
#loginButton{
	-fx-background-color: transparent;
	-fx-font-size: 15px;
}
#loginButton:hover{
	-fx-opacity: 0.5;
}