#titleLabel{
	-fx-padding: 0 0 75 0;
	-fx-font-size: 100px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255,1), 20, 0.5, 0, 0);
	-fx-font-family: "MV Boli";
	-fx-text-fill: black;
}
#username-TextField{
	-fx-padding: 5px;
	-fx-text-fill: black;
}
#loginBox{
	-fx-background-color: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	-fx-background-radius: 10px;
}
#errorLabel{
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}
#loginButton{
	-fx-background-radius: 0 0 10 10;
	-fx-background-color: #e8e8e8;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}
#loginButton:hover{
	-fx-background-color: #cccccc;
}

/* BorderPane Top */
#mainBorderPane{
	-fx-background-color: white;
}
#navigationBar{
	-fx-background-color: #bc2929;
	-fx-border-width: 1 0 1 0;
	-fx-border-color: black;
}
#viewAuctionsButton{
	-fx-background-color: transparent;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}
#viewProfileButton{
	-fx-background-color: transparent;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}
#viewAllProfiles{
	-fx-background-color: transparent;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}
#logOutButton{
	-fx-background-color: transparent;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}
#viewAuctionsButton:hover{
	-fx-opacity: 0.5;
}
#viewProfileButton:hover{
	-fx-opacity: 0.5;
}
#viewAllProfiles:hover{
	-fx-opacity: 0.5;
}
#logOutButton:hover{
	-fx-opacity: 0.5;
}
/* Auction Navigation bar */
#auctionNavigationBar{
	-fx-background-color: #bc2929;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: black;
}
#filterlabel{
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-padding: 10 10 0 40;
	-fx-text-fill: white;
}
#filterPaintingCheckBox{
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}
#filterSculptureCheckBox{
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}
#searchLabel{
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-padding: 10 10 0 40;
	-fx-text-fill: white;
}
#startSearchLabel{
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-padding: 10 10 0 40;
	-fx-text-fill: white;
}
#startSearchLabel:hover{
	-fx-opacity: 0.5;
}
#viewCompletedAuctionsLabel{
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-padding: 10 10 0 40;
	-fx-text-fill: white;
}
#viewCompletedAuctionsLabel:hover{
	-fx-opacity: 0.5;
}
#showFavouritesAuctions{
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-padding: 10 10 0 40;
	-fx-text-fill: white;
}
#showFavouritesAuctions:hover{
	-fx-opacity: 0.5;
}
/* Auction Item Box */
#auctionItemBox{
	-fx-background-color: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	-fx-background-radius: 0 0 10 10;
}
#auctionItemBox:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 20, 0, 0, 0);
}
#artworkName{
	-fx-padding: 2 2 2 5;
}
#artworkOwner{
	-fx-padding: 2 2 2 5;
}
#artworkDescription{
	-fx-padding: 2 2 2 5;
}
/* Profile Navigation Bar */
#profileNavigationBar{
	-fx-background-color: #bc2929;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: black;
}
#settingslabel{
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-padding: 10 10 0 40;
	-fx-text-fill: white;
}
#settingslabel:hover{
	-fx-opacity: 0.5;
}
#customDrawingLabel{
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-padding: 10 10 0 40;
	-fx-text-fill: white;
}
#customDrawingLabel:hover{
	-fx-opacity: 0.5;
}
/* Current Profile Page */
#profileHeader{
	-fx-background-color: white;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: black;
}
#profileUserName{
	-fx-font-weight: bold;
	-fx-font-size: 50px;
	-fx-padding: 100 0 100 30;
}
#profileDetails{
	-fx-font-size: 15px;
	-fx-padding: 0 0 5 10;
}
/* Auction page */
#imageContainer{
	-fx-background-color: lightgrey;
}
#auctionDetails{
	-fx-font-size: 15px;
	-fx-padding: 0 0 5 10;
}
#auctionImportantDetails{
	-fx-font-size: 30px;
	-fx-padding: 0 0 5 10;
	-fx-font-weight: bold;
}
/* Table Style */
#Table{
	-fx-font-size: 15px;
	-fx-background-color: white;
	-fx-border-width: 1 1 1 1;
	-fx-border-color: black;
}
#Column{
	-fx-border-width: 0 1 0 0;
	-fx-border-color: grey;
	-fx-padding: 0 20 0 20;
}
#finalColumn{
	-fx-padding: 0 20 0 20;
}
/* view all profiles page */
#profileHBox{
	-fx-border-width: 0 1 1 0;
	-fx-border-color: black;
	-fx-background-color: white;
}
#profileHBox:hover{
	-fx-border-width: 0 1 1 0;
	-fx-border-color: black;
	-fx-background-color: lightgrey;
}
#profileUsername{
	-fx-font-weight: bold;
	-fx-font-size: 25px;
	-fx-padding: 15 0 0 50;
}